* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #ccc;
}
.screen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

:root {
    --dark-1: #181818;
    --dark-2: #272626;
    --dark-3: #3d3b3b;
    --fir: #f0de7d;
    --sec: #b2df89;
    --thi: #53753c;
    --fou: #548377;
}

p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  font-style: normal;
}



/* - - - - - Game Screen - - - - - */
#gamescreen {
    border: 3px solid var(--dark-3);
}
#map {
    position: fixed;
    width: 2000px;
    height: 2000px;
    background-image: url("assets/gridtexture.png");
    background-repeat: repeat;
    background-size: 100px;
    transform: translate(-50%,-50%);
    opacity: 0;
}

#top-bar {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 25% 25% 25% 25%;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 10vh;
    background-color: var(--dark-2);
}
.player-card {
    position: relative;
    border-radius: 15px;
    margin: 0.5vh 1vw;
    background-color: white;
}
.player-card img.profile-icon {
    position: absolute;
    top: -5%;
    left: -5%;
    width: 4vw;
    border-radius: 100%;
}
.player-card h2 {
    position: absolute;
    left: 15%;
    letter-spacing: 0.2vw;
    font-size: 24px;
}
.player-card h3 {
    position: absolute;
    top: 25%;
    left: 14%;
    letter-spacing: 0.05vw;
    font-size: 20px;
    color: var(--fou);
}

#cameras {
    display: grid;
    position: absolute;
    top: 10vh;
    width: 100vw;
    height: 90vh;
    background-color: var(--dark-1);
}
.player-camera {
    border: 3px solid var(--fou);
    border-radius: 6px;
    overflow: hidden;
}
.camera-map {
    position: relative;
    width: 2000px;
    height: 2000px;
    background-image: url("assets/gridtexture.png");
    background-repeat: repeat;
    background-size: 100px;
    transform: translate(-50%,-50%);
    opacity: 1;
}



/* - - - - - Players - - - - - */
.character-element {
    position: absolute;
    width: 50px;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    border-top: black solid 3px;
    background-color: red;
    transform: translate(975px,975px);
}